body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    display: flex;
    flex-direction: column;    
    align-items: center;
    margin-top: 50vh;
}

h2 {
    color:whitesmoke;

}


