body {
    background-image: url("../imagenes/clouds-background-image.jpg");
    background-size: cover;
}

#ironMan {
    background-image: url("../imagenes/iron-man-flying-file.png");
    background-size: cover;
    width: 300px;
    height: 150px;    
}

#coordenadas {
    color: gold;
    font-size: 50px;
    text-shadow: red 2px 2px 2px;
}