body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#cuadrado {
    border: solid black 3px;
    width: 400px;
    aspect-ratio: 1/1;
    margin-top: 25vh;
}