* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border: 3px black solid;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 50px;
}

table td {
    border: 3px black solid;
    padding: 10px;
    
}

input {
    margin-left: 770px;
    margin-top: 20px;    
}

button {
    padding: 5px;
}