body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;    
}

h1, h3 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

.cajaPrincipal {
    display: flex;    
}

.caja {
    border: 3px black solid;
    width: 250px;
    aspect-ratio: 1/1;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: lime;
    border: solid 3px rebeccapurple;
    width: 220px;
    aspect-ratio: 1/1;
}

