body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ventana {
    width: 50vw;
    height: 40vh;
    background-color: lime;
    color:rebeccapurple;
    overflow: scroll;
    padding: 15px;
    border: rebeccapurple solid 5px;
    margin-top: 100px;
}

#boton {
    width: 50vw;
    height: 30px;
    background-color: rebeccapurple;
    color: lime;
    margin-top: 10px;
}