body {
    margin: 0;
    padding: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
}

#ventana {
    width: 50vw;
    height: 50vh;
    background-color: #4c4cff;
    color: #fff;
    padding: 10px;
    overflow: auto;
    position: fixed;
    left: 25%;
    top: 25%;
    border: 2px solid #000;      
}

button {
    margin-top: 80vh;
}